p.comentariu{font-family:Freestyle Script;font-size:35px;text-align:center;color:red;font-weight:bold;}
audio:hover, audio:focus, audio:active
{
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}
audio{ 
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
position: relative;
background:#F0F1F3;
display:block;
top:0px;
left:40%;
width:35%;}
div.content { 
width:73%;
height:auto;
left:20%;
position:relative;
border-width:1px;
position:relative;
border-style:hidden;
top:10px;}
img{position:relative;
	display:box;
	height:65%;
	width:90%;
	margin: 0px;
	padding:20px;
	}
p.extra{
	font-size:25px;
	color:white;
	font-weight:bold;
	font-family:Bradley Hand ITC;
	text-align:center;}
p.info{
	display:box;
	color:white;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	font-family:Bradley Hand ITC;}
img.extra{
	display: inline-block;
	vertical-align: middle;
	padding:5px;
	width:25px;
height:25px;}
hr{
	display:block;
border-width:2px;
border-color:red;}
p.comentarii{
font-family:Forte;
padding-left:15.6%;
color:red;
font-size:30px;
text-align:left;}
fieldset{
	border-style:1px;border-color:green;padding:0px;position:relative;height:23.15%;width:31.25%;left:18.23%;
	margin-inline-start:0px;
    margin-inline-end: 0px;
    padding-block-start: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-block-end: 0px;}
